@use "../../../styles/reset";

:host {
  display: block;
  height: var(--_scrollbar-height);
  max-height: var(--_scrollbar-max-height);
}

.wrap {
  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow: auto;
}

:host([always]) .wrap {
  scrollbar-gutter: stable;
}

.view {
  min-width: 100%;
}
