@use "../../../styles/reset";

:host {
  display: flex;
  align-items: center;
  width: 100%;
  margin: var(--elf-space-4) 0;
  color: var(--elf-text-secondary);
  font-size: var(--elf-font-size-sm);
}

/* 水平分割线 */
.line {
  flex: 1;
  height: 0;
  border-top: var(--_divider-border-width, 1px) var(--_divider-border-style, solid) var(--elf-border);
}

:host([border-style="double"]) .line {
  --_divider-border-width: 3px;
}

/* 中间文字 */
.text {
  padding: 0 var(--elf-space-4);
  white-space: nowrap;
  font-weight: 500;
}

/* 文字位置 */
:host([content-position="left"]) .line-left {
  flex: 0 0 5%;
}
:host([content-position="right"]) .line-right {
  flex: 0 0 5%;
}

/* 垂直模式 */
:host([direction="vertical"]) {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: 1em;
  margin: 0 var(--elf-space-2);
  vertical-align: middle;
}

:host([direction="vertical"]) .line {
  width: 0;
  height: auto;
  flex: 1;
  border-top: none;
  border-left: var(--_divider-border-width, 1px) var(--_divider-border-style, solid) var(--elf-border);
}

:host([direction="vertical"]) .text {
  display: none;
}
