@use "../../../styles/reset";

:host {
  display: flex;
  align-items: center;
  width: 100%;
  margin: var(--elf-space-4) 0;
  color: var(--elf-text-secondary);
  font-size: var(--elf-font-size-sm);
}

/* 水平分割线 */
.line {
  flex: 1;
  height: 1px;
  border: none;
  background: var(--elf-border);
}

:host([dashed]) .line {
  background: repeating-linear-gradient(
    to right,
    var(--elf-border) 0px,
    var(--elf-border) 4px,
    transparent 4px,
    transparent 8px
  );
}

/* 中间文字 */
.text {
  padding: 0 var(--elf-space-4);
  white-space: nowrap;
  font-weight: 500;
}

/* 文字位置 */
:host([content-position="left"]) .line-left {
  flex: 0 0 5%;
}
:host([content-position="right"]) .line-right {
  flex: 0 0 5%;
}

/* 垂直模式 */
:host([direction="vertical"]) {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: 1em;
  margin: 0 var(--elf-space-2);
  vertical-align: middle;
}

:host([direction="vertical"]) .line {
  width: 1px;
  height: auto;
  flex: 1;
  border: none;
  background: var(--elf-border);
}

:host([direction="vertical"][dashed]) .line {
  background: repeating-linear-gradient(
    to bottom,
    var(--elf-border) 0px,
    var(--elf-border) 4px,
    transparent 4px,
    transparent 8px
  );
}

:host([direction="vertical"]) .text {
  display: none;
}
