@use "../../../styles/reset";

:host {
  display: inline-flex;
}

.group {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--elf-space-3);
  align-items: center;
}

.variant-button {
  gap: 0;

  ::slotted(elf-checkbox) {
    margin-left: -1px;
  }
}
