@use "../../../styles/reset";

:host {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: var(--_height, 60px);
  padding: 0 var(--elf-space-6);
  background: var(--elf-bg-paper);
  box-sizing: border-box;
  z-index: 10;
}
