@use "../../../styles/reset";

:host {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: var(--_height, 60px);
  padding: 0 var(--elf-space-6);
  background: var(--elf-bg-paper);
  color: var(--elf-text-secondary);
  font-size: var(--elf-font-size-sm);
  box-sizing: border-box;
}
